<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2012,2013 Thundersoft Corporation
    All rights Reserved
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucamera.ucomm.stat"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <application />
</manifest>