<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.agingtest"
	android:sharedUserId="android.uid.system">

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application
		android:theme="@android:style/Theme.Material.Light"
		android:label="@string/app_name"
		android:screenOrientation="portrait" >

		<activity android:name=".AgingTestActivity">
			<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".CommonTestActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:excludeFromRecents="true" />
		<activity android:name=".DoCameraTest"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboardHidden"
			android:screenOrientation="landscape"
			android:clearTaskOnLaunch="true"
			android:excludeFromRecents="true" />
		<activity android:name=".DoWifiTest"
			android:excludeFromRecents="true" />
		<activity android:name=".DoBluetoothTest"
			android:excludeFromRecents="true" />
	</application>
</manifest>